<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src= "assets/logo.jpg" alt="" height="80" width="80"
          
          
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-10 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hard and Soft Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyects</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
       
         <!-- Redes -->
         <div  class="redes">
          <div class = "whatsapp"> <a href="https://api.whatsapp.com/send?phone=5493416380316&text=Escribe%20aquí%20tu%20consulta!" target="_blank"><img src="assets/whatsapp.png" alt="" height="30"></a></div>
          <div class = "facebook"><a href="https://www.facebook.com/krenhoffman/" target="_blank">  <img src="assets/facebook.png" alt="" height="30"></a></div>
          <div class = "instagram"><a href="https://www.instagram.com/kar.hoffman/" target="_blank">  <img src="assets/instagram.png" alt="" height="30"></a></div>
         </div>
        <!-- Avatar -->
        <div >
          
            <img
              src= "assets/karen.jpg" alt="" height="60" width="55"
              class="rounded-circle"
              loading="lazy"
            />
        
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->