<div class="container page-todo bootstrap snippets bootdeys">
    <div class="col-sm-7 tasks">
        <div class="task-list">
            <h1>Tasks</h1>
            <div class="priority high"><span>high priority</span></div>
            <div class="task high">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
            <div class="task high">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div>1 day</div>
                </div>
            </div>
            <div class="task high">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
            <div class="task high last">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div>1 day</div>
                </div>
            </div>
    
            <div class="priority medium"><span>medium priority</span></div>
    
            <div class="task medium">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
            <div class="task medium last">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
    
            <div class="priority low"><span>low priority</span></div>
    
            <div class="task low">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
            <div class="task low">
                <div class="desc">
                    <div class="title">Lorem Ipsum</div>
                    <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
           
           
            <div class="clearfix"></div>		
        </div>		
    </div>
    </div>
